{% extends "layout.html" %}
{% block import_files %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'main.css') }}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock import_files %}
{% block header %}
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../static/img/mail2.jpg" alt="Architecture" width="1500" height="400">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Mail</b></span> <span class="w3-hide-small w3-text-dark-grey">Run</span></h1>
  </div>
</header>
{% endblock header %}
