<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="../static/img/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'main.css') }}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  {% if title %}
  <title>MailRun - {{ title }} </title>
  {% else %}
  <title>MailRun</title>
  {% endif %}
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/compose.css">
</head>
<body>
	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">MailRun</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
					<div class="navbar-nav mr-auto">
						<a class="nav-item nav-link" href="{{url_for('home')}}">Home</a>
						<a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
					</div>
					<!-- Navbar Right Side -->
					<div class="navbar-nav topnav-right">
						{% if current_user.is_authenticated %}
								<a class="nav-item nav-link" href = "{{url_for('account')}}">Account</a>
								<a class="nav-item nav-link" href = "{{url_for('logout')}}">Logout</a>
						{% else %}
								<a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
								<a class="nav-item nav-link" href="{{url_for('register')}}">Register</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
		{% block header %}{% endblock %}
	</header>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class = "alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
			<div class="col-lg-4 left-sidebar p-5 border">
			<div class="row">
			<div class="col-lg-12 mb-4">
        	<a href="{{	url_for('compose')	}}" class="btn btn-danger btn-block">COMPOSE</a>
	</div>
<div class="col-lg-12">
				<ul class="nav">
								<li class="nav-item">
										<a class="nav-link" href="{{ url_for('inbox') }}"><i class="fa fa-inbox"></i> Inbox </a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="{{	url_for('starred')}}"><i class="fa fa-star"></i> Stared</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="{{	url_for('sent')	}}"><i class="fa fa-rocket"></i> Sent</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="{{	url_for('important')	}}"><i class="fa fa-bookmark"></i> Important</a>
								</li>
						</ul>
        </div>
		</div>
</div>

<div class ="messege-right col-lg-8">
        {% for email in emails %}
        <div class="col-sm-9 col-md-10">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="list-group">
                <a href="{{  url_for('view_email', email_id=email.id)  }}" class="list-group-item">
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <span class="name" style="min-width: 120px; display: inline-block;">{{ email.from_addr }}</span>
                  <span class="">{{ email.subject }}</span>
                  <span class="text-muted" style="font-size: 11px;">
                    {{ email.body[0:40] }}
                  </span>
                  <span class="badge">{{	email.date }}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
</div>
</div>

    </body>
    </html>
