<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="../static/css/inbox.css" rel="stylesheet" id="bootstrap-css">
  <script src="../static/js/jquery.min.js"></script>
  <link rel="icon" href="../static/img/favicon.ico">
  <script src="../static/js/bootstrap.min.js"></script>
  {% if title %}
  <title>MailRun - {{ title }} </title>
  {% else %}
  <title>MailRun</title>
  {% endif %}

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-inverse fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">MailRun</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('about')}}">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('account')}}"><span class="glyphicon glyphicon-user"></span> Account Settings</a></li>
        <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-5">
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class = "alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-2">
        <a href="{{ url_for('compose') }}" class="btn btn-danger btn-sm btn-block" role="button">COMPOSE</a>
        <hr />
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="{{ url_for('inbox')  }}"><span class="badge pull-right">1546</span> Inbox </a>
          </li>
          <li><a style='color:black;' href="#">Starred</a></li>
          <li><a style='color:black;' href="{{  url_for('important')  }}">Important</a></li>
          <li><a style='color:black;' href="{{  url_for('sent')  }}">Sent Mail</a></li>
          <li><a style='color:black;' href="#">
            <span class="badge pull-right">445</span>Drafts</a></li>
          </ul>
        </div>
        {% for email in emails %}
        <div class="col-sm-9 col-md-10">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <div class="list-group">
                <a href="#" class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                    </label>
                  </div>
                  <span class="glyphicon glyphicon-star-empty"></span>
                  <span class="name" style="min-width: 120px; display: inline-block;">{{ email.from_addr }}</span>
                  <span class="">{{ email.subject }}</span>
                  <span class="text-muted" style="font-size: 11px;">
                    {{ email.body }}
                  </span>
                  <span class="badge">12:10 AM</span>
                  <span class="pull-right">
                    <span class="glyphicon glyphicon-paperclip">
                    </span></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </body>
    </html>
